.social-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;

  .bxl-twitch {
    height: 24px;
  }

  .bxl-tiktok {
    height: 24px;
  }

  .bxl-instagram {
    height: 24px;
  }

  .bxl-youtube {
    height: 24px;
  }

  .bxl-discord {
    height: 24px;
  }

  .bxl-twitter {
    height: 24px;
  }
}
