.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.8fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "top-bar-container top-bar-container top-bar-container"
    "content content content"
    "content content content";
  width: 100%;
  min-height: 100vh;

  .top-bar-container {
    grid-area: top-bar-container;
    /* background-color: orange; */
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.2fr 0.8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". . ."
      "bottom-section bottom-section bottom-section";
    grid-area: content;
    /* background-color: blue; */
  }

  .bottom-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "social-section social-section social-section"
      "social-section social-section social-section"
      "footer footer footer";
    grid-area: bottom-section;

    .social-section {
      width: 100%;
      grid-area: social-section;
      /* background-color: red; */
    }

    .footer {
      grid-area: footer;
    }
  }
}
