@import "../../scss/index.scss";

.footer {
  font-family: $arial !important;
  box-shadow: 0 0 25px #ddd;
  background: #0b0b0b;
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 30px 5px;
  color: $color-white;
  > * {
    flex: 1 100%;
  }
  address {
    font-style: normal;
    color: $color-white;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    line-height: 2em;
  }
  a {
    text-decoration: none;
  }

  .nav__item {
    flex: 1 0 40%;
    margin: auto;
    padding: 2rem;
  }

  .button-wrapper-footer {
    padding: 1rem;
  }
}

.footer__addr {
  h2 {
    font-weight: 400 bold;
    font-size: 18px;
    letter-spacing: 1px;
  }
}

.footer__logo {
  font-weight: 600 bold;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.nav__title {
  text-align: center;
  font-weight: 400 bold;
  font-size: 26px;
  letter-spacing: 2px;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
}

.nav__ul {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    color: $color-white;
  }
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: $color-white;
  align-items: center;
  justify-content: center;
}

.legal__links {
  display: flex;
  align-items: center;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem;
}

@media only screen and (max-width: 600px) {
  .contact {
    padding: 0px;
  }
}

@media screen and (min-width: 24.375em) {
  .legal {
    .legal__links {
      margin-left: auto;
    }
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav {
    > * {
      flex: 1;
    }
    flex: 2 0px;
  }
  .nav__item--extra {
    flex-grow: 2;
  }
  .footer__addr {
    flex: 1 0px;
  }
}
