@import "../../../scss/index.scss";

.box-section-clips-buttons {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "top-section-clips top-section-clips top-section-clips"
    "middle-section-clips middle-section-clips middle-section-clips"
    "bottom-section-clips bottom-section-clips bottom-section-clips";

  h1{
    font-size: $title-size;
    letter-spacing: 2px;
  }

  .top-section-clips {
    grid-area: top-section-clips;

    &__title {
      text-align: center;
    }
  }

  .middle-section-clips {
    height: 430px;
    grid-area: middle-section-clips;
  }

  .bottom-section-clips {
    height: auto;
    grid-area: bottom-section-clips;

    .buttons-steps {
      height: 160px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .button-cliplist {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.video-clips {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;

  .video {
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 0;
  }
}

.image-rank {
  cursor: pointer;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -5px;
  img {
    width: 40px;
    height: 40px;
  }
}

.text-bold{
  font-size: $default-size;
  letter-spacing: 2px;
  margin: 5px;
}
