@import "../../scss/index.scss";

.upload-clip {
  display: grid;
  height: 90vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "are-upload-clip are-upload-clip area-help"
    "are-upload-clip are-upload-clip area-help"
    "are-upload-clip are-upload-clip area-help";
  width: 100%;
  margin: auto;

  .are-upload-clip {
    grid-area: are-upload-clip;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .box-upload {
      width: 100%;
      margin: auto;
      background: #050507;
      padding: 20px;

      &__title {
        letter-spacing: 3px;
        padding: 20px;
        font-size: $title-size;
      }

      &__content {
        padding: 20px;
        display: flex;

        &__left{
          flex: 1;
        }

        &__right{
          flex: 0 1 20%;

          .checboxs-clips{
            padding: 20px;
            display: inline-block;
            align-items: center;

            p{
              margin-left: 10px;
            }
          }
        }

        .form-group {
          padding: 10px;
          margin-bottom: 10px;
        }
      }

      &__buttons {
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
      }
    }
  }

  .area-help {
    grid-area: area-help;
    width: 100%;
    height: 100%;
    padding: 10px;

    &__title {
      text-align: center;
      font-size: $title-size;
    }

    &__content {
      p {
        text-align: center;
        font-size: $default-size;
        letter-spacing: 2px;
      }
    }
  }
}

.container-uploadclip {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "upload-clip-area upload-clip-area upload-clip-content-area"
    "upload-clip-area upload-clip-area upload-clip-content-area"
    "upload-clip-area upload-clip-area upload-clip-content-area";
  .upload-clip-area {
    width: 100%;
    height: 100%;
    grid-area: upload-clip-area;
    display: flex;
    align-items: center;
    justify-content: center;

    .container-box-clip {
      font-family: $time-new-roman;
      margin: auto;
      height: 400px;
      background: #050507;
      padding: 20px;

      &__title {
        text-align: center;
        letter-spacing: 2px;
        font-size: $title-size;
      }

      &__content {
        font-size: $default-size;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60%;
        text-align: center;
        letter-spacing: 1px;
      }

      &__button {
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
      }
    }
  }

  .upload-clip-content-area {
    width: 100%;
    text-align: center;
    padding: 10px;
    grid-area: upload-clip-content-area;

    &__title {
      font-size: $title-size;
    }

    &__content {
      p {
        margin: 10px;
        font-size: $default-size;
        letter-spacing: 2px;
      }
    }
  }
}
