$redColor: rgba(244, 67, 54, 1);
$blueColor: rgba(33, 150, 243, 1);

$color-bg: #050505;
$color-white: #fff;
$primary: #D03A2C;
$primary-hover: #D03A2C;
$terciary: #00E6F6;
$orange-logo: #FFA036;


$primary-color: #f73859;
$primary-color-variant: #ff4655;
$body-text-color: #b9babf;
$title-color: #fcfcfd;

$bg-color: #0f1922;