@import "../../../scss/index.scss";

.play-btn-next {
  width: 60px;
  height: 60px;
  background: $primary;
  border-radius: 50%;
  position: relative;
  display: block;
  margin: 100px auto;
  border: none;
  cursor: pointer;

  &:hover{
    background: $primary-hover;
  }
}

/* triangle */
.play-btn-next::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fff;
  z-index: 100;
}

