@import "../../scss/index.scss";

.container-about-me {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  .label {
    background-color: transparent;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    width: 100%;
    margin: auto;
    text-align: center;

    .name-wrapper {
      border: 0px none;
      height: 73px;
      width: 765px;
    }

    .text-wrapper {
      color: #fcfcfd;
      font-family: "Rajdhani-Bold", Helvetica;
      font-size: 64px;
      font-weight: 700;
      letter-spacing: 0;
      text-align: center;
      width: 765px;
    }

    .text-wrapper-description {
      color: #b9babf;
      font-family: "Oxanium-Medium", Helvetica;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0;
    }

    .sub-title-wraper {
      border: 0px none;
      height: 89px;
      width: 943px;
    }

    .span {
      text-decoration: underline;
    }

    .sub-title {
      color: #ff4655;
      font-family: "Rajdhani-SemiBold", Helvetica;
      font-size: 28px;
      font-weight: 600;
      letter-spacing: 0;
      text-align: center;
      width: 943px;
    }

    .description-wrapper {
      border: 0px none;
      height: 372px;
      width: 918px;
    }

    .description {
      color: #b9babf;
      font-family: "Oxanium-Medium", Helvetica;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0;
      opacity: 0.8;
      text-align: center;
      width: 918px;
    }
  }
}
